PORT=
DB_URI=
ENVIRONMENT=
NETWORK=

JWT_SECRET=
REFRESH_SECRET=

COOLIFY_REDIS=
REDIS_URI=
REDIS_PASSWORD=
REDIS_PORT=
REDIS_USERNAME=

ALLOWED_ORIGINS=
PRIVATE_KEY=

AWS_REGION=
AWS_SECRET_ACCESS_KEY=
AWS_ACCESS_KEY_ID=
AWS_S3_BUCKET=

EMAIL_USER=
EMAIL_PASSWORD=
